/* .card-container{
    width: 250px;
    background-color: rgb(247, 231, 231);
    border: 1px solid rgb(255, 80, 109);
    display: flex;
    gap:10px;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
}
.card-container1{
    width: 250px;
    background-color: rgb(118, 122, 168);
    border: 1px solid rgb(19, 32, 172);
    display: flex;
    gap:10px;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
}
.input-box{
    width: 250px;
    background-color: rgb(118, 122, 168);
    border: 1px solid rgb(19, 32, 172);
    display: flex;
    gap:10px;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
} */