*{
    box-sizing: border-box;
}
.container{
    height:70px;
    display: flex;
    gap:10px;
}
.flex{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 70px;
    gap:10px;
}
input{
    height: 35px;
    padding: 10px;
}
textarea{
    padding:10px;
    height:81px;
}
button{
    margin-top: 25px;
    background-color: red;
    border: none;
    height:40px;
    width:85px;
}